@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h3>Editing @Model.Name</h3>
</div>

@using (Html.BeginForm())
{
  <div class="row align-items-center">
    @Html.HiddenFor(model => Model.StylistId)
    <div class="col-md-12 mb-3">
      @Html.LabelFor(model => Model.Name)
      @Html.EditorFor(model => Model.Name)
    </div>
    <div class="col-md-12 mb-3">
      @Html.LabelFor(model => Model.Specialty)
      @Html.EditorFor(model => Model.Specialty)
    </div>
  </div>

  <input type="submit" value="Save" class="btn-dark" />
}

<p>@Html.ActionLink("Back to Stylist", "Details", new { id = Model.StylistId })<br>
  @Html.ActionLink("Stylist List", "Index")<br>
  @Html.ActionLink("Home", "Index", "Home")</p>