@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
  <h3>New Client</h3>
</div>

@if (ViewBag.StylistList.Count == 0)
{
  <p>There are no stylists in the system. Please @Html.ActionLink("add", "Create", "Stylists") some before creating new
    clients.</p>
}
else
{
  @using (Html.BeginForm())
  {
    <div class="row align-items-center">
      <div class="col-md-12 mb-3">
        @Html.TextBoxFor(model => Model.Name, new {@class = "form-control", @placeholder = "Name"})
      </div>
      <div class="col-md-12 mb-3">
        @Html.LabelFor(model => model.Stylist)
        @Html.DropDownList("StylistId")
      </div>
    </div>
    <input type="submit" value="Add Client" class="btn btn-dark"/>
  }
}

<p>@Html.ActionLink("Client List", "Index")<br>
  @Html.ActionLink("Home", "Index", "Home")</p>